.site-header {
  background-color: var(--clr-secondary-blue);
  padding: 24px;
}

.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-white);
}

.main-nav {
  display: flex;
  gap: 32px;
}

.nav-link {
  color: var(--clr-white);
  text-decoration: none;
  font-weight: 600;
}

.header-btn {
  background: transparent;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  padding: 10px 24px;
  border-radius: 24px;
  cursor: pointer;
}
