@import './vars.css';
@import './base.css';
@import './layout.css';
@import './mainSection.css';
@import './header.css';
@import './footer.css';
@import './promoBlock.css';
@import './SmallHeader.css';